body {
  font-weight: "Arial", sans-serif;
  /* background-color: #0000; */
  margin:0;
  padding: 0;
  color: black;
  /* background-color: black; */
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #1f454d;
}

h2 {
  color: #3c8d93;
  margin-top: 30px;
}

ul {
  width: 50vw;
  list-style-type: none;
  padding: 0;
  border: 1px solid gray;
  border-radius: 5px;
  color: black;
  margin: 0px 100px 0px 320px;
}

li,.company-Stock-Watchlist {
  /* background-color: #3c8d93; */
  /* color: #d9d7ca; */
  padding: 3px;
  /* margin: 0px 0; */
  border-radius: 5px;
  border-bottom: 1px dashed gray;
  display: grid;
  grid-template-columns: 80% 10% 10%;
  /* font-size: 12px; */
  text-align: start;
  align-items: center;
}

.company-Stock-Watchlist {
  color: gray;
  font-weight: bold;
  padding: 10px;
  font-size: 16px;
}

button {
  /* background-color: #3c8d93; */
  color: #d9d7ca;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  border: none;
  text-decoration: none;
  background-color: white;
}

.watchlist {
  color: green;
  font-size: 18px;
  border-radius: none;
  
}

button:hover {
  opacity: 0.6;
}

/* Navigation bar styles */
nav {
  padding: 13px 0;
  border-bottom: 2px solid gray;
}

nav {
  padding: 13px 0;
  border-bottom: 1px solid gray;
}

nav a {
  color: #000;
  text-decoration: none;
  margin: 0 20px;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a.active {
  padding: 10px 0;
  border-bottom: 4px solid #00B386;
  color: #00B386; /* Change text color when active */
}

nav a:hover {
  color: #00B386;
  padding: 10px 0;
  border-bottom: 4px solid #00B386; /* Add border to nav when link hovered */
}


@media only screen and (max-width: 750px) {
  .App {
    padding: 10px;
  }

  li {
    grid-template-columns: 70% 20% 10%;
  }

  .company-Stock-Watchlist {
    font-size: 13px;
    grid-template-columns: 70% 15% 15%;
  }

  nav a {
    margin: 0 10px;
  }

  ul {
    width: 100%;
    margin: 0px;
  }
}